.Loading {
    display: grid;
    /* border: 2px dashed red; */
    width: 60vw;
    height: 80vh;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}